<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <style>
    body{
      background-image: url('./images/bgimg.jpg');
      color: white;
    }
    #chatArea {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container" style="padding: 15px">
      <div class="row" id="userArea">
        <div class="col-md-2"></div>
          <div class="col-md-8 col-xs-12">
            <h3>Your Name</h3>
            <form action="" id="userForm">
              <input type="text" class="form-control" id="username" style="margin-top:10px;"
                placeholder="type your Name ...">
              <input type="submit" id="userBtn" class="btn btn-success btn-md" style="margin-top:10px;" value="Send">
            </form>
          </div>
          <div class="col-md-2 col-xs-4"></div>
        </div>
  </div>
  <div class="container">
    <div class="row" id="chatArea">
      <div class="col-md-4">
          <h3>Active Users</h3>
          <ul id="userlist">
          </ul>
      </div>
      <div class="col-md-8">
          <h3>Your Messages</h3>
          <div id="allchat" class=""></div>
          <form action="" id="messageForm">
              <input type="text" class="form-control" id="textmsg"  style="margin-top:10px;"  placeholder="type your message ..." autocomplete="off">
              <input type="submit"  id="saveBtn" class="btn btn-success btn-md" style="margin-top:10px;" value="Send">
          </form>
      </div>
    </div>
  </div>
  


    <script>
      var socket = io();
      $('#messageForm').submit(function (e) {
        e.preventDefault();
        var message = $('#textmsg').val();
        if (message == '') {
          alert('must type you message')
          return false;
        }
        socket.emit('send message', message);
        $('#textmsg').val('');
      });

      $('#userForm').submit(function (e) {
        e.preventDefault();
        var username = $('#username').val();
        if (username == '') {
          alert('enter name')
          return false;
        }
        socket.emit('user name', username, function (data) {
          if (data) {
            $('#userArea').hide('slow');
            $('#chatArea').show();
          }
        });
        $('#username').val('');
      });
      socket.on('user message', function (data) {
        $('#allchat').append('<div class="form-control" style="margin: 10px 0 10px 0;"><strong>' + data.user +':</strong>' + data.msg+ '</div>')
      })

      socket.on('username', function (data) {
        console.log(data);
        var html = ' ';
        for(i = 0; i < data.length; i++){
          html += '<li class="list-group-item" style="color:black; margin-left:-40px;">'+ data[i]+'</li>'
        }
        $('#userlist').html(html);

      })
    </script>
</body>

</html>